# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*
!.env.example

# React / Vite
node_modules/
dist/
.vite/

# Frontend environment
frontend/.env
frontend/.env.*
!frontend/.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backup
backend.zip
# Temporary MongoDB project
backend/temp_mongo/